.frontal {
	--color: #{darken( white, 70 )};
	
	color: var(--color);

	&, path {
		transition: 300ms ease;
	}

	path {
		fill: var(--color);
	}

	&--base,
	&--base-hover:hover {
		--color: #{$color-base};
	}

	&--secundario,
	&--secundario-hover:hover {
		--color: #{$color-secundario};
	}

	&--whatsapp,
	&--whatsapp-hover:hover {
		--color: #{$color-whatsapp};

		path {
			fill: var( --color );
		}
	}

	&--facebook,
	&--facebook-hover:hover {
		--color: #{$color-facebook};
	}

	&--instagram,
	&--instagram-hover:hover {
		--color: #{$color-instagram};
	}

	&--twitter,
	&--twitter-hover:hover {
		--color: #{$color-twitter};
	}

	&--youtube,
	&--youtube-hover:hover {
		--color: #{$color-youtube};
	}

	&--pinterest,
	&--pinterest-hover:hover {
		--color: #{$color-pinterest};
	}

	&--linkedin,
	&--linkedin-hover:hover {
		--color: #{$color-linkedin};
	}

	&--skype,
	&--skype-hover:hover {
		--color: #{$color-skype};
	}
}

.fondo {
	--color: #{darken( white, 70)};

	transition: 300ms ease;
	background-color: var(--color);
	fill: var(--color);

	&--base,
	&--base-hover:hover {
		--color: #{$color-base};
	}

	&--secundario,
	&--secundario-hover:hover {
		--color: #{$color-secundario};
	}

	&--whatsapp,
	&--whatsapp-hover:hover {
		--color: #{$color-whatsapp};
	}

	&--facebook,
	&--facebook-hover:hover {
		--color: #{$color-facebook};
	}

	&--instagram,
	&--instagram-hover:hover {
		--color: #{$color-instagram};
	}

	&--twitter,
	&--twitter-hover:hover {
		--color: #{$color-twitter};
	}

	&--youtube,
	&--youtube-hover:hover {
		--color: #{$color-youtube};
	}

	&--pinterest,
	&--pinterest-hover:hover {
		--color: #{$color-pinterest};
	}

	&--linkedin,
	&--linkedin-hover:hover {
		--color: #{$color-linkedin};
	}

	&--skype,
	&--skype-hover:hover {
		--color: #{$color-skype};
	}

	&--blanco,
	&--blanco-hover:hover {
		--color: white;
	}
}
