.form {
  --separacion: 20px;
  --padding: 10px;

  background-color: rgba( $color-base, 0.7 );
  margin-top: var(--separacion);
  padding-left: var(--padding);
  padding-top: var(--padding);
  padding-right: var(--padding);
  padding-bottom: calc(var(--padding) * 2 );

  max-width: 350px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-bottom: 20px;

  border: 1px solid rgba(white, 0.3);
  z-index: 1;

  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    --gap: 10px;

    grid-gap: var(--gap);
    gap: var(--gap);
  }
}

.control {
  display: block;
  position: relative;
  --height: 55px;

  height: var(--height);
  --padding: 10px;

  &__text {
    display: block;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: auto; bottom: 0;
    border: 1px solid rgba( white, 0.3 );
    background-color: rgba( white, 0.2 );
    color: white;
    width: 100%;
    height: calc(100% - 20px);
    padding: 0 var(--padding);
    transition: 300ms ease;
    outline: none;

    &:focus {
      border: 1px solid rgba(white, 0.5);
    }
  }

  &__caption {
    display: flex;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: auto;
    width: 100%;
    text-align: left;
    height: 15px;
    font-size: 0.95rem;
  }
}

// Botones:
.button {
  border: 0;
  background-image: none;
  border-radius: 4px;
  height: 30px;
  padding: 0 10px;

  &--success {
    $color: #008000;
    background-color: lighten($color, 10);
    color: white;

    &:hover {
      background-color: lighten( $color, 15 );
    }

    &:active {
      background-color: lighten( $color, 5 );
    }
  }
}

.group-button {
  margin-top: 10px;
  margin-bottom: 10px;
}