.video-animado {
  position: relative;

  // Temporal:
  height: 100vh;

  &__clip {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    width: 100%;
    height: 100vh;

    // MOdo de Mostrarse:
    object-fit: cover;

  }
}